/*--------- Quadrados de especificacoes --------*/



/*--------- Conteudo especial para cada ano --------*/

li#seculoXIV a#sec14{
	background: url(img/arpanet.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#seculoXV a#sec15{
	background: url(img/internet.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 20px, center;
}

li#seculoXVI a#sec16{
	background: url(img/ietflogo.gif) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#seculoXVII a#sec17{
	background: url(img/foto-timbl.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#seculoXVIII a#sec18{
	background: url(img/logo-cgi-old.gif) no-repeat white; 
	background-size: 180%;
	background-position: -60px 10px, center;
}

li#seculoXIX a#sec19{
	background: url(img/browser.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#seculoXX a#sec20{
	background: url(img/iana-logo.jpg) no-repeat white; 
	background-size: 120%;
	background-position: 0px 20px, center;
}

li#seculoXXI a#sec21{
	background: url(img/first-webpage.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 0px 0px, center;
}
